* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

#canvas {
    margin: 50px;

    border: 1px solid black;
    width: 480px;
    height: 480px;
}

.row {
    display: flex;
}

.singleSquare {
    border: 1px solid black;
    cursor: pointer;

}

.actions {
    margin-top: 50px;
}

.actions-li {
    list-style-type: none;
}

.actions-li li {
    margin-top: 20px;
}

.actions-li li:first-of-type {
    margin-top: 0;
}

.actions-li button {
    border-radius: 1px;
    background-color: rgb(78, 78, 215);
    color: white;
    

    font-size: 20px;
    padding: 15px;
    cursor: pointer;
}

.actions-li button:hover {
    font-size: 22px;
    background-color: rgb(227, 60, 60);
}

.actions-li h4 {
    font-family: 'Verdana';
    font-size: 20px;
}

.active {
    background-color: brown !important;
}
